@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(52, 52, 52);
  --background-color: rgb(255, 255, 255);
  --foreground-secondary-color: #ebae1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: rgb(232, 232, 232);
    --background-color: rgb(24, 24, 26);
    --foreground-secondary-color: #ffe291;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  .orange-link:hover {
    color: var(--foreground-secondary-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
